<div class="footer">
  <div class="footer__right">
    <select onchange="window.location.href = this.value" class="language">
      {% for locale in doc.locales %}
        <option
            {% if doc.locale == locale %} selected{% endif %}
            value="{{g.doc(doc.pod_path, locale=locale).url.path}}">
          {{locale.get_display_name(locale)}}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="nav">
    <ul class="nav__items">
      {% if podspec.meta.social.facebook %}
      <li class="nav__items__item">
        <a href="https://www.facebook.com/{{podspec.meta.social.facebook}}/">Facebook</a>
      </li>
      {% endif %}
      {% if podspec.meta.social.twitter %}
      <li class="nav__items__item">
        <a href="https://www.twitter.com/{{podspec.meta.social.twitter}}/">Twitter</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
